<form method="post" action="/figures">
  <input type="text" name="figure[name]" id="figure_name" placeholder="Name" />

  <br />
    Choose from all landmarks:
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"> <%= landmark.name %>  </input>
  <% end %>

    Or create a new one:
    <input type="text" name="landmark[name]" id="new_landmark" placeholder="Landmark Name" />
    <br />

    Choose from all titles:
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"> <%= title.name %>  </input>
  <% end %>
  <br />

    Or create a new title:
    <input type="text" name="title[name]" id="new_title" placeholder="Title Name" />

  <br />
  <input type="submit" value="Create New Figure" />
</form>
